$width: 460px;
$height: auto;
$min-width: $width;
$max-width: 460px;
$min-height: 600px;
$width-card: 30px;
$height-card: 64px;
$padding: 10px;
$radius: 15px;
$radius-small: 5px;
$font-main: Arial, Helvetica, sans-serif;
$font-title: 'Ariel Black', Helvetica, sans-serif;
$font-size: 10pt;
$background-color: white;
$color: black;
$rotate: rotate(-180deg);
